<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eveniet ipsa incidunt molestias eligendi tempore hic a ipsum necessitatibus eum fugiat, voluptatem, at quisquam culpa error maxime fuga. Hic, repudiandae.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eveniet ipsa incidunt molestias eligendi tempore hic a ipsum necessitatibus eum fugiat, voluptatem, at quisquam culpa error maxime fuga. Hic, repudiandae.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis eveniet ipsa incidunt molestias eligendi tempore hic a ipsum necessitatibus eum fugiat, voluptatem, at quisquam culpa error maxime fuga. Hic, repudiandae.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>